<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Goods company</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>    
    
    <table>
    	<th:block th:each="item : ${items}">
    		<tr>
    			<td th:text="${item.id}">...</td>
    			<td th:text="${item.description}">...</td>
    			<td th:text="${item.price}">...</td>
    			<td th:text="${item.creation_date}">...</td>
    		</tr>
    	</th:block>
    </table>
</body>
</html>